.carrousel {
    position: relative;
}
.carrousel__parent--ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.carrousel__ecran {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: none;
    scroll-snap-align: start;
}
.carrousel__ecran figure {
    margin: 0;
}
.carrousel__btn {
    position: absolute;
    top: 50%;
    top: calc(
      min(500px, 100vw) / 16 * 9 / 2 + 1rem
    ); /* centre verticalement ~50% vertical */
    transform: translateY(-50%); /* methode du point mort */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    display: grid;
    background-color: rgba(236, 238, 237, 0.9);
    place-content: center;
    color: var(--main-black);
}
.carrousel__btn--avant {
    left: 0;
}
.carrousel__btn--apres {
    right: 0;
}
.carrousel__ecran figure img {
    height: 410px;
    object-fit: cover;
}
.carrousel__ecran figcaption {
    text-align: center;
    font-family: var(--heading-3-font-family);
    font-size: var(--heading-3-font-size);
    font-weight: var(--heading-3-font-weight);
    letter-spacing: var(--heading-3-letter-spacing);
    font-style: var(--heading-3-font-style);
    line-height: var(--heading-3-line-height);
    color: var(--main-black);
}