@import "/src/css/landingPage.css";

@import "/src/css/footer.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Futura-Bold';
    src: url('/src/fonts/FuturaBoldfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
img, video {
    max-width: 100%;
    height: auto;
}