@import url(/src/css/header.css);
@import url(/src/css/home.css);
@import url(/src/css/footer.css);
@import url(/src/css/styleguide.css);
@import url(/src/css/index.css);
@import url(/src/css/article.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Futura-Bold';
    src: url('/src/fonts/FuturaBoldfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--main-white);
}
img, video {
    max-width: 100%;
    height: auto;
}
h1 {
    font-family: var(--heading-1-font-family);
    font-size: var(--heading-1-font-size);
    font-weight: var(--heading-1-font-weight);
    line-height: var(--heading-1-line-height);
    letter-spacing: var(--heading-1-letter-spacing);
    font-style: var(--heading-1-font-style);
}
h2 {
    font-family: var(--heading-2-font-family);
    font-size: var(--heading-2-font-size);
    font-weight: var(--heading-2-font-weight);
    line-height: var(--heading-2-line-height);
    letter-spacing: var(--heading-2-letter-spacing);
    font-style: var(--heading-2-font-style);
}
h3 {
    font-family: var(--heading-3-font-family);
    font-size: var(--heading-3-font-size);
    font-weight: var(--heading-3-font-weight);
    line-height: var(--heading-3-line-height);
    letter-spacing: var(--heading-3-letter-spacing);
    font-style: var(--heading-3-font-style);
}