:root {
    /* Colors */
    --brand-red: #DE3434;
    --brand-blue: #007EA7;
    --brand-white: #FBFBFB;
    --brand-gray: #ECEEED;
    --brand-black: #2E302D;   
    --shade-red-1: #FF5050;  
    --shade-red-2: #FE6E6E;
    --shade-blue-1: #3C8DA8;
    --shade-blue-2: #335887; 
    /* H1 */
    --heading-1-font-family: "BebasNeue", sans-serif;
    --heading-1-font-weight: 400;
    --heading-1-font-size: 36px;
    --heading-1-letter-spacing: 0px;
    --heading-1-line-height: 110%;
    --heading-1-font-style: normal;
    /* H2 */
    --heading-2-font-family: "Futura-Bold", sans-serif;
    --heading-2-font-weight: 400;
    --heading-2-font-size: 24px;
    --heading-2-letter-spacing: 0px;
    --heading-2-line-height: 110%;
    --heading-2-font-style: normal;
    /* H3 */
    --heading-3-font-family: "Futura-Bold", sans-serif;
    --heading-3-font-weight: 400;
    --heading-3-font-size: 20px;
    --heading-3-letter-spacing: 4px;
    --heading-3-line-height: 150%;
    --heading-3-font-style: normal;
    /* Body 2 */
    --body-2-font-family: "Roboto", sans-serif;
    --body-2-font-weight: 300;
    --body-2-font-size: 16px;
    --body-2-letter-spacing: 0px;
    --body-2-line-height: 160%;
    --body-2-font-style: normal;
    /* Body 1 */
    --body-1-font-family: "Roboto", sans-serif;
    --body-1-font-weight: 300;
    --body-1-font-size: 22px;
    --body-1-letter-spacing: 0px;
    --body-1-line-height: 150%;
    --body-1-font-style: normal;
    /* Small Text */
    --small-text-font-family: "Roboto", sans-serif;
    --small-text-font-weight: 300;
    --small-text-font-size: 12px;
    --small-text-letter-spacing: 0px;
    --small-text-line-height: 160%;
    --small-text-font-style: normal;
    /* Button */
    --button-font-family: "Roboto", sans-serif;
    --button-font-weight: 700;
    --button-font-size: 11px;
    --button-letter-spacing: 1.1px;
    --button-line-height: 160%;
    --button-font-style: normal;
    /* Small Text Uppercase */
    --small-text-uppercase-font-family: "Roboto", sans-serif;
    --small-text-uppercase-font-weight: 300;
    --small-text-uppercase-font-size: 13px;
    --small-text-uppercase-letter-spacing: 0px;
    --small-text-uppercase-line-height: 160%;
    --small-text-uppercase-font-style: normal;
  }